# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CPP\PSS_II-Homework_03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
